/* Desktop-вид: сужаем левую панель и расширяем контент */
@media (min-width: 992px) {
  .side-bar {
    width: 210px !important;
  }
  .main {
    margin-left: 230px !important; /* чуть больше ширины сайдбара */
  }
  .main-content {
    max-width: 1100px !important; /* было ~800px */
  }
}

/* Чуть лучшая читаемость текста */
.main-content p {
  font-size: 17px;
  line-height: 1.65;
}
